{% extends 'layout.html' %}

{% block container %}
<div class="row">
    <div class="s8 offset-s2">&nbsp;</div>
</div>
<div class="row">
    <div class="s8 offset-s2">&nbsp;</div>
</div>
<div class="row">
    <div class="col-xs-2">
        <form action="/get_exchange_summary" method="post">
            <div class="form-group">
                <label for="from-curr-amt">You have</label>
                <input type="number" class="form-control" value="1" name="from_curr" id="from-curr-amt">
                <select class="form-control" id="from-curr">
                </select>
            </div>
            <div class="form-group">
                <label for="from-curr-amt">You get</label>
                <input type="number" class="form-control" value="1" name="to_curr" id="to-curr-amt">
                <select class="form-control" id="to-curr">
                </select>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript">
function fetch_rates(fcurr, famt, tcurr, tamt) {
    if (fcurr == tcurr) {
        alert("From and to currencies can't be the same");
    }
}

$(document).ready(function() {
    $.get('/get_currencies', function(data) {
        option = '';
        $(data).each(function(i, elem) {
            if (i == 0) {
                option += '<option value="'+elem+'" selected="selected">'+elem+'</option>';
            } else {
                option += '<option value="'+elem+'">'+elem+'</option>';
            }
        });
        $('#from-curr').html(option);
        option = '';
        $(data).each(function(i, elem) {
            if (i == 1) {
                option += '<option value="'+elem+'" selected="selected">'+elem+'</option>';
            } else {
                option += '<option value="'+elem+'">'+elem+'</option>';
            }
        });
        $('#to-curr').html(option);
    }, "json");
});
</script>
{% endblock %}
