<html>
    <head>
        <title>Welcome to changepark</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ url_for('cpk.static', filename='css/materialize.css') }}" rel="stylesheet" media="screen,projection"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="left brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-small-only">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">JavaScript</a></li>
                </ul>
            </div>
        </nav>
        {% block header %}{% endblock %}
        <div class="container">
            {% block container %}{% endblock %}
        </div>
        <script type="text/javascript" src="{{ url_for('cpk.static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('cpk.static', filename='js/materialize.js') }}"></script>
    </body>
</html>
