{% extends "layout.html" %}
{% import "components.html" as components %}

{% block container %}
<link href="{{ url_for('static', filename='css/cryptocoins.css') }}" rel="stylesheet">

<div class="row">
    <div class="s8 offset-s2">&nbsp;</div>
</div>

<div class="row">
    <div class="s8 offset-s2">&nbsp;</div>
</div>

<div class="jumbotron p-3 p-md-5 rounded">
    <div class="row">

        <div class="col-md-6">
            <div class="col-md-12 font-italic">You have:</div>
            {{ components.drop_down(currencies, 1) }}
        </div>

        <div class="col-md-6">
            <div class="col-md-12 font-italic">You get:</div>
            {{ components.drop_down(currencies, 2) }}
        </div>

        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addr">Address</span>
                </div>
                <input type="text" class="form-control" placeholder="To Address" aria-label="To Address" aria-describedby="basic-addr">
            </div>
        </div>

        <div class="col-md-6">
            <div class="input-group mb-3" id="extraid-txt">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-extraid">Extra ID</span>
                </div>
                <input type="text" class="form-control" placeholder="Extra ID" aria-label="Extra ID" aria-describedby="basic-extraid">
            </div>
        </div>

        <div class="col-md-12">
            <button class="btn btn-success float-right">Exchange</button>
        </div>

    </div>

</div>

{% endblock %}


{% block custom_scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#extraid-txt').on('eidneeded', function() {
        $(this).show();
    }).on('eidnotneeded', function() {
        $(this).hide();
    });
    $($('.curr-sel')[0]).trigger('click');
});
</script>
{% endblock %}
